<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <typeAliases>
		<typeAlias type="com.sesoc.web1.vo.MemberVO" alias="membervo" />
<!-- 		<<typeAlias type="global.sesoc.web1.vo.Board" alias="board" />
		<typeAlias type="global.sesoc.web1.vo.Reply" alias="reply" /> -->
	</typeAliases>
	<mappers>
		<mapper resource="mapper/Member_SQL.xml" />
<!-- 		<mapper resource="mapper/boardMapper.xml" /> -->
	</mappers>
</configuration>
